.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.container > * {
    display: flex;
    padding: 0;
    margin: 0;
}

.item {
    font-size: 0.8rem;
    list-style: none;
    margin-right: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 0;
    border: 1px lightgray solid;
    width: 2rem;
    text-align: center;
}

.item:hover {
    background: lightgray;
    border-color: darkgray;
    font-weight: bold;
}

.active {
    font-weight: bold;
}