.grid {
    display: flex;
    flex-flow: row wrap;
}

.product {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    width: 50%;
}

@media (min-width: 1024px) {
    .product {
        width: 20%;
    }
}