.container {
    display: flex;
    flex-wrap: wrap;
}

.filter {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.filter > label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.filter > select {
    min-width: 200px;
}